<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인</title>
  <script th:inline="javascript">
    const user = [[${session.loginUser}]] // 세션에 있는 데이터를 가져와서 user변수에 저장
    if(user==null){ // 이것이 null이라면 로그인 안한거
      alert("관리자 전용입니다."); // 경고메시지
      location.href="/" // 브라우저의 주소를 /로 강제 세팅
    }
  </script>
</head>
<body>
  <section>
    <header>
        <center>
            <a href="/">
                <img src="https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13213450&filePath=L2Rpc2sxL25ld2RhdGEvMjAxOS8yMS9DTFMxMDAwNC8xMzIxMzQ1MF9XUlQyMDE5MTAwOF8x&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10004" width="200" height="80" alt="신난다">
            </a>
        </center>
    </header>
</section>
<hr>
</body>
</html>